.header {
  position :fixed;
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  top: 0;
  z-index: 10;

  &__left {
    float: left;
    font-style: italic;
    font-size: 2em;
    line-height: 65px;
  }

  &__right {
    float: right;

    a:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }

  a {
    display: block;
    line-height: 65px;
    padding: 0 25px;
    color: white;
    float: left;
    transition: all 0.5s;
    text-decoration: none;
  }
}
